*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: 1px solid #fff;
  line-height: 22px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.button:focus {
  appearance: none;
  outline: none;
}

.button:hover {
  text-decoration-line:underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  padding: 2px;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  min-width: 194px;
  height: fit-content;
  align-self: flex-end;
}

.content {
  display: flex;
  gap: 30px;
  align-self: center;
  align-items: flex-end;
}

.result {
  min-width: 711px;
  width: 100%;
}

.content__details {
  max-width: 399px;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  overflow: scroll;
  height: 298px;
  margin-block-start: 26px;
  position: relative;
}

.result__video-container {
  margin-block-end: 16px;
  object-fit: contain;
  object-position: center;
  position: relative;
}

.result__video {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.content__list-item {
  margin-block-end: 32px;
}

.content__list-item:last-of-type {
  margin-block-end: 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title, .content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 75px;
  line-height: 71px;
}

.content__video-card-title {
  font-size: 30px;
}

.content__accent {
  color: #545050;
}

.content__video-card-title, .content__video-card-description {
  color: #fff;
}

.content__card-link {
  text-decoration: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  text-decoration-color: inherit;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__label-text:focus {
  outline: none;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  line-height: 21px;
  width: 225px;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.search-form__label:has(:active) {
  outline: 1px solid #fff;
  box-sizing: border-box;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  align-self: center;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: block;
  margin: auto;
}